.color-1 {
    color: transparent;
    -webkit-background-clip: text;

}

.color-2 {
    background-image: linear-gradient(75deg,red,blue);
    color: transparent;
    -webkit-background-clip: text;

}